@import 'styles/index.scss';

.container {
  margin-right: auto;
  margin-left: auto;

  @include mediaUpTo('tablet') {
    width: getBreakpointValue('mobile');
    padding-right: getLRPValue('mobile');
    padding-left: getLRPValue('mobile');
  }

  @include mediaInBetween('tablet', 'desktop') {
    width: (getBreakpointValue('tablet'));
    padding-right: getLRPValue('tablet');
    padding-left: getLRPValue('tablet');
  }

  @include mediaOver('desktop') {
    width: (getBreakpointValue('desktop'));
    padding-right: getLRPValue('desktop');
    padding-left: getLRPValue('desktop');
  }
}
