@import 'styles/index.scss';

.modalWrapper {
  width: 326px;
  padding: 32px;
  margin-top: 124px;
  @include mediaOver('tablet') {
    width: 540px;
  }
}

.heading {
  @extend %h5-font;
  margin-bottom: 16px;
  @include mediaOver('tablet') {
    margin-bottom: 24px;
    font-size: 32px;
  }
}

.recItems {
  margin-bottom: 24px;
}

.descr {
  margin-bottom: 24px;
  @include mediaOver('tablet') {
    margin-bottom: 32px;
  }
}

.button {
  width: 100%;
}

.svg {
  margin-bottom: 22px;
  @include mediaOver('tablet') {
    margin-bottom: 32px;
  }
}
