@import 'styles/index.scss';

.link_list {
  display: flex;

  list-style-type: none;

  @include mediaOver('tablet') {
    gap: 34px;
  }
}
.link_list__link {
  display: block;

  @extend %sub-title-font;
  text-decoration: none;
  color: $light;
  text-align: center;

  transition: createTransitionFor('color');

  &:hover,
  &:focus,
  &:active {
    color: $main-color;
  }
}
