@import 'styles/index.scss';

.linkList {
  display: flex;

  list-style-type: none;

  // @include mediaOver('tablet') {
  //   gap: 34px;
  // }
}

.link {
  display: block;
  
  padding-left: 16px;
  padding-right: 16px;

  @extend %sub-title-font;
  text-decoration: none;
  color: $light;
  text-align: center;

  transition: createTransitionFor('color');

  &:hover,
  &:focus,
  &__active {
    color: $main-color;
  }
}

.headerLink {
  @extend .link;
  padding-top: 32px;
  padding-bottom: 32px;
}