@import 'styles/index.scss';

.footer__wrapper {
  display: flex;

  @include mediaUpTo('tablet') {
    margin-bottom: 48px;

    gap: 48px;
  }

  @include mediaInBetween('tablet', 'desktop') {
    margin-bottom: 32px;

    gap: 32px;
  }

  @include mediaUpTo('desktop') {
    flex-direction: column;
  }

  @include mediaOver('desktop') {
    margin-bottom: 36px;

    justify-content: space-between;
  }
}

.footer__logo {
  color: $light;
  @include mediaUpTo('tablet') {
    text-align: center;
  }
}

.link_list {
  @include mediaUpTo('tablet') {
    flex-direction: column;
    gap: 16px;
  }
}