%h-font {
  text-transform: uppercase;
  font-family: 'ManropeBold';
  font-weight: 700px;
}

%h1-font {
  @extend %h-font;
  font-size: 56px;
  line-height: 1.03;
  letter-spacing: 2px;
}

%h2-font {
  @extend %h-font;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 1.5px;
}

%h3-font {
  @extend %h-font;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: 1.15px;
}

%h4-font {
  @extend %h-font;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: 2px;
}

%h5-font {
  @extend %h-font;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: 1.7px;
}

%h6-font {
  @extend %h-font;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.3px;
}

%overline-font {
  font-family: 'ManropeRegular';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 10px;
}

%sub-title-font {
  @extend %h-font;
  font-size: 13px;
  line-height: 1.92;
  letter-spacing: 1px;
}

%body-font {
  font-family: 'ManropeMedium';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.66;
}
