@import 'styles/variables/index.scss';
@import 'styles/functions.scss';

%input-wrapper {
  @extend %additional-mini-font;

  width: 100%;

  padding: 18px 24px;

  border: 1px solid $not-focused-color;
  border-radius: 8px;
  outline: none;
  transition: createTransitionFor('border-color');

  &:hover,
  &:focus {
    border-color: $main-color;
  }
}
