@import 'styles/index.scss';

.preventScroll {
  overflow: hidden;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.list {
  margin-bottom: 32px;
}

.heading {
  @extend %h6-font;
}

.removeButton {
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.total {
  margin-bottom: 24px;
}

.button {
  width: 100%;
}

.cartEmpty {
  @extend %h6-font;
}
