@import 'styles/index.scss';

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
