@import 'styles/index.scss';

.section {
  @include mediaOver('desktop') {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 125px;
  }
}
