@import 'styles/index.scss';

.hero {
  padding-top: 89px;

  background-color: $dark;
  text-align: center;
}

.heading {
  @extend %h4-font;
  color: $light;
  padding: 32px 84px;

  @include mediaOver('tablet') {
    font-size: 40px;
  }
}
