@import 'styles/index.scss';

.image__zx9 {
  margin-left: auto;
  margin-right: auto;

  @include mediaUpTo('tablet') {
    margin-bottom: 32px;
  }

  @include mediaInBetween('tablet', 'desktop') {
    margin-bottom: 64px;
  }

  @include mediaOver('desktop') {
    min-width: 382px;

    position: relative;
    transform: translateY(14px);
  }
}
