@import 'styles/index.scss';

.link {
  text-transform: capitalize;
  opacity: 0.5;
  transition: createTransitionFor('color'), createTransitionFor('opacity') ;

  &:hover,
  &:focus {
    color: $main-color;
    opacity: 1;
  }
}
