@import 'styles/index.scss';

.section {
  @include mediaOver('desktop') {
    padding-top: 48px;
    padding-bottom: 140px;
    margin-bottom: 0;
  }
}

.linkSection {
  margin: 0;
  padding: 24px;
  padding-top: 16px;
  @include mediaOver('tablet') {
    padding-top: 48px;
  }
  @include mediaOver('desktop') {
    padding: 38px;
    padding-top: 80px;
  }
}

.backLink {
  margin-bottom: 24px;
  display: block;
}
