@import 'styles/index.scss';

.header {
  width: 100%;

  color: $light;
  background-color: $dark;
}

.transparent {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  background-color: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  border-bottom: 1px solid rgba($color: $light, $alpha: 0.1);

  @include mediaInBetween('tablet', 'desktop') {
    justify-content: start;
  }
}

.header__wrapper {
  display: flex;
}

.burger {
  @include mediaInBetween('tablet', 'desktop') {
    margin-right: 42px;
  }
}

.cart {
  @include mediaInBetween('tablet', 'desktop') {
    margin-left: auto;
  }
}

.modal {
  background-color: red;
}
