$main-color: rgb(216, 125, 74);
$secondary-color: rgb(251, 175, 133);
$main-dark-color: rgb(16, 16, 16);
$main-light-color: rgb(250, 250, 250);
$secondary-light-color: rgb(241, 241, 241);
$light: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);
