$main-dark-color: rgb(10, 10, 10);
$secondary-dark-color: rgb(16, 16, 16);
$main-light-color: rgb(255, 255, 255);
$secondary-light-color: rgb(250, 250, 250);
$main-backdrop-color: rgb(241, 241, 241);
$main-addition-color: rgb(216, 125, 74);
$alt-addition-color: rgb(251, 175, 133);
