@import 'styles';

.section {
  @include mediaOver('tablet') {
    margin-bottom: 96px;
  }
}

.list {
  list-style: none;

  @include mediaOver('tablet') {
    display: flex;
    justify-content: space-between;
  }
}

.listItem {
  @include mediaUpTo('tablet') {
    &:not(:last-child) {
      margin-bottom: 68px;
    }
  }
}
