@import 'styles/index.scss';

.footer {
  background-color: $main-dark-color;
}

.footer__container {
  &::before {
    position: relative;

    display: block;
    width: 100px;
    height: 4px;
    box-sizing: border-box;

    background-color: $main-color;

    content: '';
  }

  @include mediaUpTo('tablet') {
    $padding-top: 48px;

    padding-top: $padding-top;
    padding-bottom: 38px;

    &::before {
      top: -$padding-top;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @include mediaInBetween('tablet', 'desktop') {
    $padding-top: 60px;

    padding-top: $padding-top;
    padding-bottom: 46px;

    &::before {
      top: -$padding-top;
      left: 0;
    }
  }

  @include mediaOver('desktop') {
    $padding-top: 75px;

    padding-top: $padding-top;
    padding-bottom: 48px;

    &::before {
      top: -$padding-top;
      left: 0;
    }
  }
}

.footer__wrapper {
  @include mediaUpTo('tablet') {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  @include mediaUpTo('desktop') {
    justify-content: space-between;
  }

  @include mediaOver('tablet') {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
