@import 'styles/index.scss';

.preventScroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  height: fit-content;

  margin-top: 24px;

  border-radius: 8px;
  background: $light;
  color: $dark;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 90px;
  left: 0;

  background: rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
}

.container_cart {
  justify-content: end;
}

.container_reciept {
  justify-content: center;
}
