@import 'styles/index.scss';

.radioLabel {
  // max-width: 310px;
  // width: 100%;
  display: inline-block;

  @include mediaOver('tablet') {
    width: 304px;
  }
}

.inputWrap {
  @extend %input-wrapper;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 52px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &_active {
    border-color: $main-color;
  }
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid $not-focused-color;
  background-color: transparent;
}

.input:checked + .checkmark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='25' fill='rgb(216, 125, 74)' /%3E%3C/svg%3E");
}

.fieldName {
  @extend %sub-field-font;
  text-transform: capitalize;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}
