@import 'styles/index.scss';

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  margin: 0;
  transition: createTransitionFor('color'),
    createTransitionFor('background-color');

  &:hover {
    color: $main-color;
  }
}

.disabled {
  color: $main-color;
  pointer-events: none;
  &:hover {
    color: inherit;
    cursor: auto;
  }
}
