@import 'styles/index.scss';

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: createTransitionFor('color'),
    createTransitionFor('background-color');

  &:hover {
    color:$main-color
  }
}
