/* style reset */
@import '../node_modules/modern-normalize/modern-normalize.css';
/* fonts */

@font-face {
  font-family: 'ManropeBold';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('assets/fonts/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ManropeMedium';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('assets/fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ManropeRegular';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('assets/fonts/Manrope-Regular.ttf') format('truetype');
}

/* style resetting */

body {
  font-family: sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
