@import 'styles/index.scss';

.wrapper {
  background-color: $secondary-light-color;
  width: 96px;
  height: fit-content;
  text-align: center;

  font-family: 'ManropeBold';
  font-size: 13px;
}

.value {
  padding: 16px 8px;
}

.button {
  background-color: transparent;
  border: none;
  padding: 16px 12px;
  margin: 0;
  cursor: pointer;
  transition: createTransitionFor('color');
  color: $sec-not-focused-color;

  &:hover,
  &:focus {
    color: $main-color;
  }
}
