@import 'styles/index.scss';

.heading {
  @extend %h5-font;
  margin-bottom: 24px;

  @include mediaOver('tablet') {
    font-size: 32px;
  }

  @include mediaInBetween('tablet', 'desktop') {
    margin-right: 170px;
  }
}

.list {
  list-style: none;
}

.listItem {
  @extend %body-font;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.quantity {
  color: $main-color;
  font-family: 'ManropeBold';
  margin-right: 20px;
}

.itemName {
  opacity: 0.5;
}
