@import 'styles/index.scss';

.listItem {
  display: flex;
  justify-content: space-between;
}

.itemName {
  opacity: 0.5;
  text-transform: uppercase;
}

.price {
  @extend %h6-font;
  letter-spacing: normal;
}

.price__main {
  color: $main-color;
}
